<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="Menu">
        <div>
            <h1>PORTAL INFORMATIVO</h1>
        </div>
        <ul>
            <li>
                <a href="/login" class="">Login</a>
            </li>
            <li>
                <a href="/weather" class="">Clima</a>
            </li>
            <li>
                <a href="/news" class="">Noticias</a>
            </li>
        </ul>
    </nav>
    <main>
        <a href="/news" class=""><img src="News presenter_Two Color.svg"/></a>
        <a href="/weather" class=""><img src="Weather_Monochromatic.svg"/></a>
    </main>
    <footer>
        <h6>Hecho por: </h6>
        <h5>    Deiby Rodriguez</h5>
    </footer>
</body>
</html>