<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <i class='bx bxl-facebook-square'></i>
        <h1>Hola</h1>
        <form action="/login" method="post">
            <input type="text" name="username" id="" placeholder="UserName">
            <input type="password" name="password" id="" placeholder="Password">
            <input type="submit" value="Enviar">
        </form>
    </main>
    <footer>
        <h3>Hecho por: </h3>
        <h2>    Deiby Rodriguez</h2>
    </footer>
    
</body>
</html>